<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Simple web clothing store.
        {% endblock %}
    </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-fluid">
        <ul class="nav nav-pills justify-content-end align-items-end">
            <li class="nav-item"><a href="/main/"
                class="nav-link">Основная</a></li>
            <li class="nav-item"><a href="/data/"
                class="nav-link">Данные</a></li>
        </ul>
        {% block content %}
        Page 
        {% endblock %}
        
        <div class="row fixed-bottom modal-footer">
            <hr>
                <p>All rights protected &copy;</p>
            </hr>
        </div>
    </div>
</body>
</html>
