<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Simple web clothing store.
        {% endblock %}
    </title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container-fluid">
        <ul class="nav nav-pills justify-content-end align-items-end">
            <li class="nav-item"><a href="/clothes/"
                class="nav-link">Clothes</a></li>
            <li class="nav-item"><a href="/shoes/"
                class="nav-link">Shoes</a></li>
            <li class="nav-item"><a href="/jackets/"
                class="nav-link">Jackets</a></li>
        </ul>
        {% block content %}
        Page 
        {% endblock %}
        
        <div class="row fixed-bottom modal-footer">
            <p>
                <li class="nav-item"><a href="/"
                    class="nav-link">Back to main page</a></li>
            </p>
            <hr>
                <p>All rights protected &copy;</p>
            </hr>
        </div>
    </div>
</body>
</html>
